*{
  box-sizing:border-box; 
}
html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
#twojs-container, #threejs-container{
  display:inline-block;
  width:50%;
  height:100%;
}
#twojs-container{
  border-right:1px solid #000;
}
